streamlit
google-api-python-client
python-dotenv
youtube_transcript_api
litellm
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
moviepy
transformers 
torch 
numpy 
scikit-learn
yt-dlp
ffmpeg-python
diffusers
rembg
pydub
beautifulsoup4
TTS
pyannote.audio
pytube
tweepy
atproto
python-telegram-bot
PyJWT
pyperclip
diffsynth
onnxruntime
accelerate
openai-whisper
langdetect
moviepy
googlesearch-python
pylatexenc
praw
linkify-it-py
streamlit-shortcuts
selenium
stem
streamlit-image-select
duckduckgo_search
streamlit-aggrid
sentence_transformers
fuzzywuzzy
