streamlit
google-api-python-client
python-dotenv
youtube_transcript_api
litellm
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
moviepy
transformers 
torch 
numpy 
scikit-learn
yt-dlp
ffmpeg-python
diffusers
rembg
pydub
beautifulsoup4
TTS
pyannote.audio
pytube